In [1]:
#https://www.kaggle.com/matleonard/nlp-course?select=yelp_ratings.csv
import pandas as pd
df = pd.read_csv("E:/Z-Machine Learning/My Work/DataSets/NLP/Yelp Comments/yelp_ratings.csv")
from sklearn.utils import shuffle
df = shuffle(df)
df.head()

                                                    text  stars  sentiment
36749  Compared to all the competing waffle dessert p...    4.0          1
12418  Never had a bad experience here!  Quick, yummy...    5.0          1
8848   Cost Plus is always a treat, whether I'm looki...    4.0          1
43283  very rude staff.. never going back again..very...    1.0          0
42363  Good Food, Good server (Neither excellent); bu...    2.0          0

In [2]:
col = ['sentiment']
df.drop(col, axis=1)
df.head()

                                                    text  stars  sentiment
36749  Compared to all the competing waffle dessert p...    4.0          1
12418  Never had a bad experience here!  Quick, yummy...    5.0          1
8848   Cost Plus is always a treat, whether I'm looki...    4.0          1
43283  very rude staff.. never going back again..very...    1.0          0
42363  Good Food, Good server (Neither excellent); bu...    2.0          0

In [3]:
import numpy
uniqueValues = numpy.unique(df['text'])
print(len(uniqueValues))

44517

In [4]:
text = []
for i in df['text']:
    text.append(str(i))

from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=44517)
tokenizer.fit_on_texts(text)
sequences = tokenizer.texts_to_sequences(text)

Using TensorFlow backend.
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [5]:
label = df['stars']
import numpy as np
label2 = []
for i in label:
    if(i == 1.0):
        label2.append(0)
    if(i == 2.0):
        label2.append(1)
    if(i == 3.0):
        label2.append(2)
    if(i == 4.0):
        label2.append(3)
    if(i == 5.0):
        label2.append(4)

In [6]:
col = ['stars']
df = df.drop(col, axis =1)
x_train=sequences[:35530]
y_train=label2[:35530]
x_test=sequences[35530:]
y_test=label2[35530:]

In [7]:
maxlen = 30
from keras import preprocessing
x_train = preprocessing.sequence.pad_sequences(x_train, maxlen=maxlen)
x_test = preprocessing.sequence.pad_sequences(x_test, maxlen=maxlen)

In [8]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_train

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)

In [9]:
from keras.models import Sequential
from keras.layers import Flatten, Dense
from keras.layers import Embedding
model = Sequential()
model.add(Embedding(44517   , 1000, input_length=maxlen))
model.add(Flatten())
model.add(Dense(5, activation='softmax'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])

In [10]:
model.summary()
import numpy as np
history = model.fit(x_train, np.array(y_train),
                    epochs=3,
                    batch_size=32,
                    validation_split=0.2)

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 30, 1000)          44517000
_________________________________________________________________
flatten_1 (Flatten)          (None, 30000)             0
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 150005
=================================================================
Total params: 44,667,005
Trainable params: 44,667,005
Non-trainable params: 0
_________________________________________________________________

C:\Users\Abdelrahman Ezz\anaconda3\lib\site-packages\tensorflow\python\framework\indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 28424 samples, validate on 7106 samples
Epoch 1/3
28424/28424 [==============================] - 442s 16ms/step - loss: 0.3106 - acc: 0.8568 - val_loss: 0.2912 - val_acc: 0.8654
Epoch 2/3
28424/28424 [==============================] - 429s 15ms/step - loss: 0.1786 - acc: 0.9261 - val_loss: 0.3432 - val_acc: 0.8537
Epoch 3/3
28424/28424 [==============================] - 430s 15ms/step - loss: 0.0731 - acc: 0.9750 - val_loss: 0.4409 - val_acc: 0.8390